<!DOCTYPE html!>
<html>
    <head>
        <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon.png">
        <link rel="stylesheet" type="text/css" href="../static/course.css">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/generalCode.css">
        <title>CSCB20</title>
    </head>

    <body>
    <!-- START WRAPPER -->
        <div class="wrapper">
            
      <!-- start navbar -->
      <div id="navigation-bar">
        <div id="container">
          <div class="nav">
            <h1 id="course-label"><a href="/index">CSCB20</a></h1>
            <p id="course-desc">Introduction to Databases and Web Applications</p>
            <nav>
              <a class="cur-link" href="/course">Course</a>
              <a href="/lectures">Lectures</a>
              <a href="/team">Team</a>
              <a href="/labs">Labs</a>
              <a href="../static/files/syllabus.pdf" target="_blank">Syllabus</a>
              <a href="/feedback">Anon Feedback</a>
              <a href="/assignments">Assignments</a>
              <a href="https://markus.utsc.utoronto.ca/cscb20w20" target="_blank">Markus</a>
              <a href="https://piazza.com/" target="_blank">Piazza</a>
              <a class="general-link" href="/account">Account</a>
              <a href="/marks">Grades</a>
              {%if session['type'] == 'instructor'%}
                <a href="/remarks">Remark Requests</a>
              {%endif%}
              <button class="logout-btn" onclick="window.location.href='/logout'">Logout</button>
            </nav>
          </div>
        </div>
      </div>
      <!--end navbar -->
                  </div>
            
            <div  class="top-btn">
                <h1>
                    <a href="#">^</a>
                </h1>
            </div>
            <!-- start content -->
            <div class="content">
                
                    <h1 class="page-name">Course</h1>
                    <div class="line"></div>
                  <div id="course-text">
                    <div id="c-desc">
                      <h3><b>Course Description</b></h3>
                      <p>A practical introduction to databases and Web app development. Databases: terminology and applications; creating, querying and updating databases; the entity-relationship model for database design. Web documents and applications: static and interactive documents; Web servers and dynamic server-generated content; Web application development and interface with databases.
                    </div>
                    <div id="etc"> 
                      </br><i><b>Prerequisite</b></i> Some experience with programming in an imperative language such as Python, Java or C. 
                      </br><i><b>Exclusion</b></i> This course may not be taken after - or concurrently with - any C- or D-level CSC course.</p>               
                    </div>
                  <div id="oh-wrapper">
                    <div id="oh">
                      <h3><b>Instructor</b></h3>
                      <div class="line"></div>
                      <h4>Dr. Anna Bretscher</h4>
                      <p><b>Email:</b> &emsp; &emsp; &emsp; &emsp; &emsp; &nbsp;bretscher@utsc.utoronto.ca</p>
                      <p><b>Office:</b> &emsp; &emsp; &emsp; &emsp; &emsp; IC493</p>
                      <p><b>Phone:</b> &emsp; &emsp; &emsp; &emsp; &ensp; &nbsp;(416) 208-4745</p>
                      <p><b>Lectures:</b> &emsp; &emsp; &emsp; &emsp; Mondays 9:15-11:00 in HW 216</p>
                      <p><b>Office Hours:</b> &emsp; &emsp; &ensp;  W 11:00-12:00</p>
                    </div>

                    <!-- Map -->
                    <div id="oh-map">
                      <img id="of-map" src="../static/images/map.png" frameborder="0">
                      </img>
                    </div>
                  </div>
 
                    <div class="empty-div"></div>
                </div>
            </div>
            <!-- end content -->

      <!-- start footer -->
      <div id="footer">
          <div id="foot-text">
            <div  class="footer-content">
              <p id="faculty-link"><a href="https://web.cs.toronto.edu/" target="_blank">Faculty of Computer Science at UofT</a></p>
              <p>Site designed by Jayesh Khullar and Divneet Singh</p>
            </div>
          </div>
      </div>
      <!-- end footer -->
        
        </div>
        <!-- end wrapper -->
    </body>
</html>