<!DOCTYPE html!>
<html>
    <head>
        <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon.png">
        <link rel="stylesheet" type="text/css" href="../static/feedback.css">
        <link rel="stylesheet" type="text/css" href="../static/instFeedback.css">
        <link rel="stylesheet" type="text/css" href="../static/studentMarks.css">
        <link rel="stylesheet" type="text/css" href="../static/generalCode.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>CSCB20</title>
    </head>

    <body>
    <!-- START WRAPPER -->
        <div class="wrapper">
            
<!-- start navbar -->
      <div id="navigation-bar">
        <div id="container">
            <div class="nav">
            <h1 id="course-label"><a href="/index">CSCB20</a></h1>
            <p id="course-desc">Introduction to Databases and Web Applications</p>
            <nav>
                <a href="/course">Course</a>
                <a href="/lectures">Lectures</a>
                <a href="/team">Team</a>
                <a href="/labs">Labs</a>
                <a href="../static/files/syllabus.pdf" target="_blank">Syllabus</a>
                <a href="/feedback">Anon Feedback</a>
                <a href="/assignments">Assignments</a>
                <a href="https://markus.utsc.utoronto.ca/cscb20w20" target="_blank">Markus</a>
                <a href="https://piazza.com/" target="_blank">Piazza</a>
                <a href="/account">Account</a>
                <a class="cur-link" href="/marks">Grades</a>
                <button class="logout-btn" onclick="window.location.href='/logout'">Logout</button>

            </nav>
            </div>
        </div>
      </div>
      <!--end navbar -->
                        
            <div  class="top-btn">
                <h1>
                    <a href="#">^</a>
                </h1>
            </div>
            <!-- start content -->
            <div class="content">
                <div class='flash'>
                  {% include 'errorFlash.html' %}
                  {% block body %}{% endblock %}
                </div>
                <!-- start feedback form -->
                <form method="post" action="">
                    <!-- start feedback wrapper -->
                        <h1 class="page-name">Grades</h1>
                        <div class="line"></div>

                    <div id="inst-feedback-wrapper">
                        <!-- start questions -->
                        <div id="questions-box">
                                <div class="your-feedback">
                                  <div class="left">
                                    <label for="does-well">Assignments:</br></label>
                                    {%for i in marks%}
                                      <p name="does-well" class="feedback">{{ i[2] }}</br></p>
                                    {%endfor%}
                                  </div>
                                  
                                  <div class="mid">
                                    <label for="improve">Grades:</br></label>   
                                    {%for i in marks%}
                                      <p name="improve" class="feedback">{{ i[3] }}</br></p>
                                    {%endfor%}
                                  </div>

                                  <div class="right">
                                    <label for="add">Remark Request:</br></label>
                                    <div>
                                      <div id="type">
                                        <select id="select-inst" name="type" value="{{ request.form.instructor }}" required>
                                          <option value="">Select Assesment For Remark:</option>
                                          {% for item in marks %}
                                            <option value="{{ item[2] }}, {{item[3]}}">{{ item[2] }} {{item[3]}}</option>
                                          {% endfor %}
                                        </select>
                                        <h3>Reason For Remark</h3>
                                        <textarea required name="reason" value="{{
                                        request.form.reason }}"></textarea>
                                      </div>
                                      <button class="submit-btn" value="Remark">Submit</button>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <!-- end question 3 -->
                </div>
                <!-- end feedback wrapper -->

                </form>
                <!-- end feedback form -->
            </div>
            <!-- end content -->
                <script src="../static/js/flash.js">
                </script>
      <!-- start footer -->
      <div id="footer">
          <div id="foot-text">
            <div  class="footer-content">
              <p id="faculty-link"><a href="https://web.cs.toronto.edu/" target="_blank">Faculty of Computer Science at UofT</a></p>
              <p>Site designed by Jayesh Khullar and Divneet Singh</p>
            </div>
          </div>
      </div>
      <!-- end footer -->
        
        </div>
        <!-- end wrapper -->
    </body>
</html>